.app {
    display: grid;
    grid-template-columns: 4.4rem 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
        "servers head"
        "servers rest";
    min-height: 100%;
    min-width: 100%;
}
