.friends-container {
    display: grid;
    grid-template-rows: 3.23rem 1fr;
    grid-template-areas:
        "header"
        "friends";
}

.friends {
    grid-area: friends;
    padding: 2rem 2.4rem;
}

.friends-list {
    margin-top: 1.3rem;
    max-height: calc(100vh - 9.8rem);
    overflow: scroll;
}

.friends-list.incoming {
    margin-bottom: 2rem;
}

.friends-list .list-seperator {
    width: 95%;
    border-bottom: 1px solid rgba(var(--alt-text-color-values), 0.15);
    margin: 0 auto;
}

.friend-card {
    padding: 1rem;
    display: flex;
}

.friend-card:hover {
    backdrop-filter: brightness(140%);
    border-radius: 10px;
    cursor: pointer;
}

.friend-icon {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50px;
}

.default-image-container {
    height: 3rem;
    width: 3rem;
    background-color: var(--main-color);
    border-radius: 50px;
}

.friend-card .info {
    margin-left: 1rem;
}

.friend-card .info .name {
    font-size: 1.14rem;
    margin-right: 0.25rem;
}

.friend-card .info .numbers {
    visibility: hidden;
    color: var(--caret-color);
    font-size: 90%;
}

.friend-card:hover .info .numbers {
    visibility: visible;
}

.friend-card .buttons {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}

.friend-card .buttons button {
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--alt-bg-color-values), 0.6);
}

.friend-card .buttons .icon {
    height: 50%;
    width: 50%;
}

.friend-card .buttons button:hover {
    background-color: var(--alt-bg-color);
}

.friends-header {
    grid-area: header;
    box-sizing: border-box;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.friends-header h1 {
    margin: 0 auto 0 0.9rem;
    display: flex;
    align-items: center;
    font-size: 120%;
    font-weight: 500;
}

.friends-header h1 .icon {
    height: 1.4rem;
    margin-right: 0.4rem;
}

.friends-header .text-button {
    background-color: transparent;
    color: var(--caret-color);
    font-size: 0.95rem;
    padding: 0.4rem 1rem;
}

.friends-header .text-button:hover, .friends-header .text-button[active="true"] {
    backdrop-filter: brightness(150%);
    color: var(--alt-text-color);
}
