nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.7rem;
    padding: 0 2.6rem;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    margin-bottom: 1rem;
}

.masthead {
    cursor: pointer;
    height: 42.5px;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links > button, .nav-links > a {
    padding: 0.8rem;
    border-radius: var(--button-roundness);
    background-color: var(--sub-color);
    font-weight: 600;
}

.nav-links > button {
    border: none;
}

.nav-links button:hover {
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;;
}
